.jumbotron {
  background: no-repeat 50%;
  background-size: cover;
  background-position: 65% 75%;
  font-family: "Play", sans-serif;
  margin-bottom: auto;
  height: 300px;
}

body {
  font-family: "Russo One", sans-serif;
}

.rhodes {
  background-color: #d3d3d3;
}

.icons {
  color: white;
  padding-right: 3%;
}

.iconsFooter {
  color: white;
  font-size: xx-large;
}

#comingsoon {
  background-size: cover;
}

.footer {
  position: inherit;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 90px;
}

.img-responsive {
  width: 100%;
  height: 292px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid {
  padding-top: 20px;
  padding-bottom: 10px;
}

.moreinfo {
  text-align: center;
  background: rgb(79, 76, 77);
  background: radial-gradient(
    circle,
    rgba(79, 76, 77, 0.927608543417367) 64%,
    rgba(108, 108, 108, 0.4150035014005602) 100%
  );
}

.moreinfoform {
  font-size: x-large;
}

.moreinfoform1 {
  padding: 25px 0px 25px 0px;
}

.moreinfoback {
  background: no-repeat;
  background-image: url(http://rhodesperformance.net/Logos/R-logo-backdrop.jpg);
  background-position: center;
  background-size: cover;
}

.moreinforow {
  padding: 100px 0px 100px 0px;
}

.bronze_form {
  text-align: left;

  background: rgb(79, 76, 77);
  background: radial-gradient(
    circle,
    rgba(79, 76, 77, 0.927608543417367) 64%,
    rgba(108, 108, 108, 0.4150035014005602) 100%
  );
}

.bronze_label {
  padding-left: 25px;
  text-align: left;
}

.site-credits {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Box */

.box {
  border-radius: 4px;
  margin-bottom: 2em;
  background: #2c2c32;
  text-align: center;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box .image.fit {
  margin: 0;
}

.box .image img {
  border-radius: 4px 4px 0 0;
}

.box .inner {
  padding: 1.5em;
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .box .inner {
    padding: 1em;
  }
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

/* Box */

.thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.thumbnails .box {
  margin: 0 1em 2em 1em;
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .thumbnails .box {
    width: 45%;
  }
}

@media screen and (max-width: 736px) {
  .thumbnails .box {
    width: 100%;
  }
}
